Package       Version  
------------- ---------
click         8.0.3    
Flask         2.0.2    
itsdangerous  2.0.1    
Jinja2        3.0.3    
joblib        1.1.0    
MarkupSafe    2.0.1    
nltk          3.6.7    
pip           20.0.2   
pkg-resources 0.0.0    
regex         2022.1.18
setuptools    44.0.0   
tqdm          4.62.3   
Werkzeug      2.0.3    
