{% extends "layout.html" %} {% block body %}
<form action="/Citation-Generator" method="post" class="bs-component" style="margin-left: 10%">
  <div class="form-group">
    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">
      <h2>Citation Generation</h2>
    </label>
    <br />
    <input name="title" type="text" class="input col-form-label col-form-label-lg mt-4" placeholder="Title (Required)"
      required style="
        max-height: 30vh;
        background-color: transparent;
        border-radius: 10px;
        width: 85%;
      "></input>
    <input name="publisher" type="text" class="input col-form-label col-form-label-lg mt-4"
      placeholder="Publisher (Required)" required style="
      max-height: 30vh;
      background-color: transparent;
      border-radius: 10px;
      width: 85%;
    "></input>
    <input name="year" type="text" class="input col-form-label col-form-label-lg mt-4"
      placeholder="Year Published (Required)" required style="
      max-height: 30vh;
      background-color: transparent;
      border-radius: 10px;
      width: 85%;">
    <input name="first" type="text" class="input col-form-label col-form-label-lg mt-4"
      placeholder="First Name Initials" style="
        max-height: 30vh;
        background-color: transparent;
        border-radius: 10px;
        width: 85%;
      "></input>
    <input name="last" type="text" class="input col-form-label col-form-label-lg mt-4" placeholder="Last Name" style="
      max-height: 30vh;
      background-color: transparent;
      border-radius: 10px;
      width: 85%;
    "></input>
    </input>
    <input name="volume" type="text" class="input col-form-label col-form-label-lg mt-4" placeholder="Volume"
      style="
    max-height: 30vh;
    background-color: transparent;
    border-radius: 10px;
    width: 85%;
  "></input>
    <br />
    <br />
    <button type="submit" class="btn btn-primary form-control form-control-lg" style="
        padding: 10px;
        width: 120px;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.692);
        border-color: rgba(255, 0, 0, 0.692);
      ">
      Submit
    </button>
  </div>
</form>
{% endblock %}