{% extends "layout.html" %} {% block body %}
<div class="text-content"> <br>
  <h2>EdTools</h2>
  <p>
  <h6>A one stop study tools workscpace. For text summerization, plagiarism
    checking, citation generation and readbility checking.</h6>

  </p>
  <div class="container">
    <div id="promo" class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/J0hAzjc5fHY?controls=0" frameborder="0" webkitallowfullscreen=""
        mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>

    {% endblock %}